html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #848484;
    font-weight: 600
}

body {
    margin: 0;
    background: #e5e3e3
}

h1 {
    color: #222;
    font-size: 40px;
    text-align: center;
    margin-bottom: 33px;
    font-weight: 400
}

h2 {
    font-size: 30px
}

h3 {
    color: #000;
    font-size: 25px
}

h4 {
    color: #fff;
    font-size: 16px
}

h5 {
    color: #eee;
    font-size: 13px
}

p {
    color: #7c7c7c
}

a {
    color: #00b005;
    font-weight: 700;
    text-decoration: none
}

hr {
    display: block;
    margin: 30px auto 30px auto;
    background: #f1f1f1;
    height: 1px;
    border: 0
}

label input[type=checkbox] {
    position: absolute;
    margin: 0;
    width: 14px;
    height: 14px;
    opacity: 0
}

label input[type=checkbox]+.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #000
}

label input[type=checkbox]:checked+.icon {
    background-color: #000
}

.row {
    display: flex;
    flex-wrap: wrap
}

.container {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px
}

input[type=text] {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fafafa;
    border: none;
    color: #000;
    outline: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 30px 5px 10px;
    font-size: 14px;
    display: block;
    border-radius: 0
}



nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: #999;
    font-weight: 300;
    white-space: nowrap;
    font-size: 16px;
    letter-spacing: 1px
}

nav ul li {
  padding: 11px;
  list-style: none;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  position: relative;
  margin: 0 3px;
}

nav ul li:last-child {
  line-height: 29px;
  padding: 12px 18px;
  background: #386b0d;
  border: 0px;
  border-radius: 3px;
}

nav ul li:last-child a i{
    color:#fff;
}

nav ul li i {
    font-size: 18px;
    margin: 10px;
    color: #999
}

nav ul li ul li:hover,
nav ul li:hover {
    background-color: #0d841245;
    color: #fff;
    border-bottom: 1px solid #468513;
}

nav ul li:hover a,
nav ul li:hover i {
    color: #fff
}

nav ul li ul {
    display: none
}

nav ul li ul li {
    display: block
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    z-index: 9999;
    padding: 13px 0;
    text-align: left;
    left: 0;
    min-width: 100px
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: #0008;
    background-size: auto
}

.lightbox div {
    background: #fff;
    max-width: 80%;
    max-height: 70%;
    margin: 50px auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 30px;
    font-weight: 400
}

.lightbox:target {
    outline: 0;
    display: block
}

.back .lightbox:hover div {
    opacity: 1!important
}

.lightbox h2 {
    display: none
}

.lightbox:hover h2 {
    position: fixed!important;
    z-index: 999;
    padding: 234px;
    font-size: 70px;
    text-align: right;
    display: inherit;
    color: #fff
}

.btn {
    margin: 28px 27px 0 0;
    border: 0;
    padding: 15px;
    background: #468513;
    color: #fff;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    display: block
}

.btn:hover {
    background: #9c9c9c
}

.btn .btn-lg {
    padding: 20px 50px 20px 50px
}

.btn .btn-sm {
    padding: 10px 15px 10px 15px
}

.btn .btn-default {
    background: #ffa708
}

.btn .btn-success {
    background: #00b005
}

.btn .btn-danger {
    background: #ff0808
}

.div-table {
    display: table;
    width: auto;
    border-spacing: 5px
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both
}

.div-table-col {
    float: left;
    display: table-column;
    width: 200px
}

.div-table-col.border {
    border: 1px solid #cfcfcf
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto
}

.scroll-wrapper table {
    width: 100%;
    max-width: 100%
}

table tr {
    padding: 15px;
    border-bottom: 1px solid #e3e3e3
}

table tr:hover {
    background: #ffa708;
    color: #fff
}

table tr:hover a,
table tr:hover p {
    background: #ffa708;
    color: #fff
}

table tr td {
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap
}

table tr td i {
    color: #fff
}


header {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 122px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgb(0, 0, 0));
}

header h1 {
    color: #fff;
    font-weight: 200;
    text-align: left;
    border: 1px #fff solid;
    display: inline-block;
    font-size: 19px;
    padding: 19px 27px;
    line-height: 16px;
    margin: 20px 36px;
}

header ul {
    float: right;
    margin-right: 29px;
}

header a {
    color: #fff;
}

header img {
    width: 100px;
}

footer {
    background: #222;
    box-shadow: 9px 6px 16px silver;
    min-height: 267px;
}

.footer img {
    width: 273px;
    padding: 30px;
}


footer p {
    color: #a3a3a3;
    font-weight: 300;
    font-size: 11px;
    padding: 10px
}

.footer hr {
    border-color: #fff;
    margin: 0;
    width: 46%;
    margin: 0 0 15px 0;
    background: #fff;
    border-width: .03em
}

.footer h2 {
    margin: 25px 0 9px 0;
    color: #eee;
    font-weight: 400
}


section {
    background: #fff;
    width: 100%;
}

.section-header {
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
}

.section-header h3 {
    color: #9e9e9e;
    margin-top: 40px;
    font-weight: 300;
}

.section-body {
    color: grey;
    min-height: 450px;
    padding: 12px
}

.section-body a {
    color: #ffa708;
    font-weight: 400
}

.section-body #cbutton {
    margin: 0 auto
}

.section-body table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse
}

.section-footer {
    color: grey;
    padding: 12px
}

/* Section style*/

section.jumbotron {
  width: 100%;
  padding: 0px;
  display: table;
  height: 700px;
  margin: 0px;
}

section .section-body {
  padding: 0px;
}


section.jumbotron .wallpaper {
    background-image:url('https://images.pexels.com/photos/547119/pexels-photo-547119.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    height: 700px;
    width:100%;
    position: absolute;
}

section.jumbotron:hover .wallpaper {
    transition: .8s ease-in-out;
    filter: blur(2px);
}

section.jumbotron h1 {
    position: sticky;
    margin: 283px auto 0 auto;
    color: #FFF;
    width: 100%;
    font-size: 45px;
    font-weight: 300;
    display: inline-block;
}

section.jumbotron .section-header, section.jumbotron .section-footer {
    display: none;
}

section.jumbotron .section-footer {
    display: none;
}

section.jumbotron h1 b {
    color: #0d8412;
    text-shadow: 2px 1px 5px #000
}

section.jumbotron button {
    padding:20px;
    top: 65%;
    display: block;
    margin: 10px auto;
    position: sticky;
    width: 155px;
    background-color: #468513;
    border:0;
    box-shadow: 2px 2px 5px 0px #222;
    border-radius:6px;
    color:#FFF;
    font-family: 'Quicksand', sans-serif;
    font-weight:400;
    font-size:20px;
    cursor:pointer;
    opacity:0.8;
}

section.jumbotron:hover button {
    transition: .8s ease-in-out;
    opacity:1
}

section.services {
    background: #386b0e;
}

section.services .section-header h3 {
    color: #fff;
    margin-top: 40px;
}

section.services .section-header h3 {
    color: #fff;
}

section.services .products-list {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    max-width: 900px;
    margin: 0 auto;
}

section.services.products-list .item {
    width: 180px;
    margin: 0 12px 30px;
    text-align: center;
    text-transform: none;
    color: #fff;
    position: relative;
}

section.services .item {
    margin: 12px 30px;
    list-style: none;
}
section.services .item .name {
    position: relative;
    top: -44px;
    background: #386b0e;
    z-index: 10;
}

section.services .item .name p{
    text-align: center;
    color: #fff;
}

section.services .item .name h2{
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 200;
}

section.services .products-list .icon {
    cursor: pointer;
    margin: 0 auto;
    display: block;
    height: 130px;
    width: 130px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    z-index: 10;
}

section.services .products-list .icon i {
    max-height: 125px;
    position: absolute;
    top: 34px;
    color:#fff;
    left: 33px;
    font-size: 57px;
    z-index: 9;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

section.slyder .carousel-cell {
    background-size: cover;
    height: 500px;
    width: 100%;
}

section.slyder .carousel-cell p, section.slyder .carousel-cell h2{
    padding: 41px 142px;
    text-align: center;
    text-shadow: 1px 1px 10px #2d2d2d;
    color: #fff;
}

section.slyder .carousel-cell button {
    margin: 0 auto;
}

section.slyder .carousel-cell h2 {
  font-size:50px;
}

section.information  {
  width: 100%;
  height: 600px;
  display: block;
  position: relative;
}

section.information h4  {
  color: #000;
  text-align: center;
}

section.information .app img {
  width:200px;
  margin: 0 auto;
  display:block;
}

section.information .carousel-cell {
  text-align: center;
}

section.information .carousel-cell img {
  margin: 0 40px 0 40px;
  width:200px;
}

section.information .carousel {
    padding: 10px 77px;
}

section.information::after {
  content: "";
  background: url(https://images.pexels.com/photos/868757/pexels-photo-868757.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-size: cover;
}

section.information .join {
    background: #386b0e;
    padding: 7px;
}

section.information .join h1{
    color:#FFF;
}

section.gallery {
    background-color: #fff;
    overflow: hidden;
}
section.gallery .thumb img{
    max-width: 100%;

}
section.gallery img:hover {
    transform: scale(1.05);
}

section.gallery .thumb {
    float: left;
    padding: 5px;
}

section.gallery .lightbox img {
  width: unset !important;
  height: unset !important;
}

section.gallery .section-footer {
  display:none;
}

section.gallery .thumb h2 {
    text-shadow: 2px 0px 19px #000;
    /* background-color: #ffffff6b; */
}

section.newsletter {
    text-align: center;
}

section.newsletter h3{
    font-size: 33px;
    color: white;
}

section.newsletter i{
    font-size: 99px;
    color: white;
}

section.newsletter .section-body {
    background-color: #386b0e;
    min-height: unset;
}


section.newss .social-box {
    height: 200px;
    background-size: cover;
    width: 100%;
}

section.news .new {
    padding: 30px;
    overflow: hidden;
    height: 200px;
}

section.news .social-box a p, section.news .social-box a strong  {
    color: white;
    text-align: center;
    font-size: 28px;
}
section.news .social-box .left {
    background: #2873b6;
    color:#FFF;
}
section.contact {
    background: url('https://images.pexels.com/photos/320007/pexels-photo-320007.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position-y: center;
    background-size: cover;
    height: 500px;
}

section.contact .contnt {
    background-size: cover;
    height: 382px;
}

section.contact .section-header {
    background: #fff;
}

.main-carousel3 .carousel-cell {
  background:#0000006e;
      padding: 10px;
}

.main-carousel3 h5 {
    line-height: 15px;
    margin: 10px;
        color: #a8a8a8;
}

.main-carousel3 h2 {
    color: white;
    margin: 0px;
}

.main-carousel3 p {
  color: white;
  font-size: 12px;
}

.main-carousel3 button {
    margin: unset;
    padding: 8px;

}

section.news .social-box .left::after, section.news .social-box .right::after {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    font-size: 151px;
    position: relative;
    left: 184px;
    bottom: 38px;
}

section.news .social-box .right {
    background: #de4b3b;
    color:#FFF;
}

section.news .social-box .right::after {
    content: "\f167";
}

section.news  .section-body {
  min-height: unset;
}

.flickity-viewport {
    height: 500px !important;
}

section.contact .form-container {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	background-color: #fff;
	position: relative;
	    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

section.contact .form-container .row {
	margin-bottom: 0;
}

section.contact .contnt {
    position: relative;
}
/* label color */
  section.contact .input-field label {
     color: #9c9c9c;
   }
   /* label focus color */
  section.contact .input-field input[type=text]:focus + label {
     color: #9c9c9c;
   }
   /* label underline focus color */
  section.contact  .input-field input[type=text]:focus {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* valid color */
  section.contact .input-field input[type=text].valid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* invalid color */
  section.contact .input-field input[type=text].invalid {
     border-bottom: 1px solid #9c9c9c;
     box-shadow: 0 1px 0 0 #9c9c9c;
   }
   /* icon prefix focus color */
  section.contact .input-field .prefix.active {
     color: #9c9c9c;
   }
 input:not([type]):focus:not([readonly]), 
 input[type=text]:focus:not([readonly]), 
 input[type=password]:focus:not([readonly]), 
 input[type=email]:focus:not([readonly]), 
 input[type=url]:focus:not([readonly]), 
 input[type=time]:focus:not([readonly]), 
 input[type=date]:focus:not([readonly]), 
 input[type=datetime]:focus:not([readonly]), 
 input[type=datetime-local]:focus:not([readonly]), 
 input[type=tel]:focus:not([readonly]), 
 input[type=number]:focus:not([readonly]), 
 input[type=search]:focus:not([readonly]), 
 textarea.materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid #009ddc;
 box-shadow: 0 1px 0 0 #009ddc;
}
input:not([type]):focus:not([readonly])+label, 
input[type=text]:focus:not([readonly])+label, 
input[type=password]:focus:not([readonly])+label, 
input[type=email]:focus:not([readonly])+label, 
input[type=url]:focus:not([readonly])+label, 
input[type=time]:focus:not([readonly])+label, 
input[type=date]:focus:not([readonly])+label, 
input[type=datetime]:focus:not([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label, 
input[type=tel]:focus:not([readonly])+label, 
input[type=number]:focus:not([readonly])+label, 
input[type=search]:focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #009ddc;
}

section.contact .form-container h3 {
	font-size: 42px;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -46px;
}

section.contact input, section.contact textarea {
    	width: 100%;
	border:0px;
	background-color: #fafafa;
}

footer h1 {
    color: #fff;
    font-weight: 200;
    text-align: left;
    border: 1px #fff solid;
    display: inline-block;
    font-size: 19px;
    padding: 19px 27px;
    line-height: 16px;
    margin: 20px 36px;
}

footer h1 a {
    	color: #fff;
	font-weight: 200;
}

@media  all and (max-width: 640px) {
	section.contact .form-container {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 70px;
		margin-bottom: 20px;
	}
	section.contact .form-container h3 {
	    font-size: 24px;
	    top: -26px;
	}
}

@media (max-width:767px) {
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .col-sm-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:768px) {
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:992px) {
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-lg-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .col-lg-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%
    }
    .col-xl-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%
    }
    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .col-xl-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%
    }
}


@media all and (min-width:993px) and (max-width:1200px){
  section.services .item {
        margin: 12px 20px;
        display: unset;
  }
}

@media all and (min-width:768px) and (max-width:992px){
  section.services .item {
    margin: 12px 43px 0 0;
    }
    section.slyder .carousel-cell {
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 736px;
        background-size: 146%;
        width: 100%;
    }
}


@media all and (max-width:767px) {
    .section {
        margin: 0;
        width: unset
    }
    footer {
        margin: unset;
        padding: 36px;
        width: unset
    }
    section.services .item {
        padding: 10px;
        margin:0px;
      }
    section.slyder .carousel-cell p, section.slyder .carousel-cell h2 {
        padding:0;
    }

    section.slyder .carousel-cell {
          ackground-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;
        height: 736px;
        background-size: 146%;
        width: 100%;
    }
}

@media all and (max-width:567px) {
    header {
        float: unset;
        position: unset;
        right: unset;
        margin: 0;
        width: unset;
        background: #386b0e;
        height: 192px;
        margin: 0 auto;
        text-align: center;
    }
}
